<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>@ViewBag.Title | Jobs Ahoy</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
</head>

<body style="background-image:url(../../Content/assets/img/PirateStockImges/woodGrain.jpg); background-repeat:round;">
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    @* fixed-top  *@
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light py-3 backdrop" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center fw-bolder fs-2 fst-italic" href="@Url.Action("Index", "Home")">
                    <img class="logoWheel" src="~/Content/assets/img/LogoWheelCentered.png" alt="Logo Wheel" longdesc="Spinning wheel piece of Jobs Ahoy logo" />
                    <img class="logoText" src="~/Content/assets/img/LogoText.png" alt="Logo Text" longdesc="Text piece of Jobs Ahoy logo" />
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
                        @if (Request.IsAuthenticated)
                        {
                            <li class="nav-item px-2"><a class="nav-link fw-bolder" href="@Url.Action("Index", "OpenAssignments")">Open Posts</a></li>
                            <li class="nav-item px-2"><a class="nav-link fw-bolder" href="@Url.Action("Index", "Applications")">Applications</a></li>
                        }

                        @if (Request.IsAuthenticated && User.IsInRole("Crewmate"))
                        {
                            <li class="nav-item px-2"><a class="nav-link fw-bolder" href="@Url.Action("Index", "PirateDetails")">Yer Profile</a></li>
                        }

                        <li class="nav-item px-2 mb-3"><a class="nav-link fw-bolder" href="@Url.Action("Contact", "Home")">Contact</a></li>
                    </ul>
                    @if (Request.IsAuthenticated && User.IsInRole("PirateLord"))
                    {

                        <ul class="nav-link navbar-nav lordlyDuties">
                            <li class="nav-item dropdown nav-item px-2">
                                <a class="nav-item nav-link dropdown-toggle fw-bolder" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Lordly Duties
                                </a>
                                <ul class="nav-item dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item nav-link fw-bolder" href="@Url.Action("Index", "Ships")">Ships</a></li>
                                    <li><a class="dropdown-item nav-link fw-bolder" href="@Url.Action("Index", "Assignments")">Assignments</a></li>
                                    <li><a class="dropdown-item nav-link fw-bolder" href="@Url.Action("Index", "ApplicationStatus")">Application Statuses</a></li>
                                    <li>@Html.ActionLink("Roles", "Index", "RolesAdmin", null, new { @class = "dropdown-item nav-link fw-bolder" })</li>
                                    <li>@Html.ActionLink("Users", "Index", "UsersAdmin", null, new { @class = "dropdown-item nav-link fw-bolder" })</li>
                                </ul>
                            </li>
                        </ul>
                    }
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <div id="MessageDisplay" class="row">
            <div class="col-md-10 col-md-offset-1" id="MessageContent">

            </div>
        </div>
        @RenderSection("homeIndex", false)
        @{ var styling = RenderSection("homeIndex", false) == null ? null : "display:none"; }
        <div id="wrapper-div" style="@styling">
            @RenderBody()
        </div>


    </main>
    <footer>
        <!--======================================================================-->
        <!--FOOTER================================================================-->
        <!--======================================================================-->

        <section class="py-0" id="footer">
            <div class="container">
                @* Social Icons *@
                <div class="row flex-center">
                    <div class="col-auto my-4">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item me-3">
                                <a href="http://sarahledford.com/" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FFFFFF" viewBox="0 0 24 24"><path d="M2 0c-1.104 0-2 .896-2 2v15c0 1.104.896 2 2 2h20c1.104 0 2-.896 2-2v-15c0-1.104-.896-2-2-2h-20zm20 14h-20v-12h20v12zm-6.599 7c0 1.6 1.744 2.625 2.599 3h-12c.938-.333 2.599-1.317 2.599-3h6.802z" /></svg>
                                </a>
                            </li>
                            <li class="list-inline-item me-3">
                                <a href="https://github.com/SarahLedford" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FFFFFF" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" /></svg>
                                </a>
                            </li>
                            <li class="list-inline-item me-3">
                                <a href="https://www.linkedin.com/in/sarah-ledford/" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FFFFFF" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z" /></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto mb-2">
                        <p class="mb-0 fs--1 text-white my-2 text-center">
                            &copy; @DateTime.Now.Year Sarah Ledford<br />This template is made with&nbsp;
                            <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFFFFF" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                            </svg>&nbsp;by&nbsp;<a class="text-white" href="https://themewagon.com/" target="_blank">ThemeWagon </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--======================================================================-->
        <!--END FOOTER============================================================-->
        <!--======================================================================-->
    </footer>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScript -->
    <!-- ===============================================-->
    @Scripts.Render("~/bundles/preCDN")
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    @Scripts.Render("~/bundles/postCDN")
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap" rel="stylesheet">
    @RenderSection("scripts", false)
</body>
</html>