@model PirateJobBoard.DATA.EF.ApplicationStatus

@{
    ViewBag.Title = "Details";
}

<h2 class="my-4"><em>@Model.StatusName</em> @ViewBag.Title <a href="@Url.Action("Edit", "ApplicationStatus", new { id = Model.ApplicationStatusID })"><i class="fa fa-edit mx-2"></i></a></h2>
<div>
    <h4>ApplicationStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDescription)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "ApplicationStatus")" class="text-decoration-none"><i class="fa fa-arrow-left mx-2"></i> Go Back</a>
</p>
