@model IEnumerable<PirateJobBoard.DATA.EF.ApplicationStatus>

@{
    ViewBag.Title = "Application Statuses";
}

<h2>@ViewBag.Title</h2>

<h3>
    <a href="@Url.Action("Create", "ApplicationStatus")"><i class="fa fa-plus mx-2"></i></a>
</h3>
<table class="table table-hover text-center" id="statuses">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusDescription)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusDescription)
            </td>
            <td>
                <a href="@Url.Action("Edit", "ApplicationStatus", new { id = item.ApplicationStatusID })"><i class="fa fa-edit mx-2"></i></a>
                <a href="@Url.Action("Details", "ApplicationStatus", new { id = item.ApplicationStatusID })"><i class="fa fa-info mx-2"></i></a>
                <a href="@Url.Action("Delete", "ApplicationStatus", new { id = item.ApplicationStatusID })"><i class="fa fa-trash mx-2"></i></a>
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#statuses').DataTable({
                responsive: true
            });
        });
    </script>
}