@model PirateJobBoard.DATA.EF.Application

@{
    ViewBag.Title = "Application Details";
}

<h2 class="my-4"><em>@Model.PirateDetail.FullName's</em> @ViewBag.Title @if(!User.IsInRole("Crewmate"))
{
    <a href="@Url.Action("Edit", "Applications", new { id = Model.ApplicationID })"><i class="fa fa-edit mx-2"></i></a>
}
    </h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaptainNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaptainNotes)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            <span id="statusDescr" title="@Model.ApplicationStatu.StatusDescription">
                @Html.DisplayFor(model => model.ApplicationStatu.StatusName)
            </span>
        </dd>

        <dt>
            Assignment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenAssignment.Assignment.AssignmentName)
        </dd>
        <dt>
            Ship, Captain
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenAssignment.Ship.ShipName),

            @Html.DisplayFor(model => model.OpenAssignment.Ship.PirateDetail.FullName)
        </dd>

        @if (!User.IsInRole("Crewmate"))
        {
            <dt>
                Applicant
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PirateDetail.FullName)
            </dd>
            <dt>
                Resume
            </dt>
            <dd>
                <a href="~/Content/Resumes/@Model.ResumeFilename" target="_blank">View</a>
            </dd>
        }


    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "Applications")" class="text-decoration-none"><i class="fa fa-arrow-left mx-2"></i> Go Back</a>
</p>


@section scripts{
    <script>
        $(function () {
            $("#statusDescr").tooltip();
        });
    </script>
}