@model PirateJobBoard.DATA.EF.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaptainNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaptainNotes)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.ResumeFilename)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResumeFilename)
            </dd>*@

        <dt>
            Status
        </dt>

        <dd>
            <span id="statusDescr" title="@Model.ApplicationStatu.StatusDescription">
                @Html.DisplayFor(model => model.ApplicationStatu.StatusName)
            </span>
        </dd>

        <dt>
            Assignment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenAssignment.Assignment.AssignmentName)
        </dd>
        <dt>
            Ship, Captain
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenAssignment.Ship.ShipName),

            @Html.DisplayFor(model => model.OpenAssignment.Ship.PirateDetail.FullName)
        </dd>

        @if (!User.IsInRole("Crewmate"))
        {
            <dt>
                Applicant
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PirateDetail.FullName)
            </dd>
            <dt>
                Resume
            </dt>
            <dd>
                <a href="~/Content/Resumes/@Model.ResumeFilename" target="_blank">View</a>
            </dd>
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section scripts{
    <script>
        $(function () {
            $("#statusDescr").tooltip();
        });
    </script>
}