@model IEnumerable<PirateJobBoard.DATA.EF.Application>

@{
    ViewBag.Title = "Applications";
}

<h2 class="text-center">@ViewBag.Title</h2>


@if (Model.Count() == 0 && User.IsInRole("Crewmate"))
{
    <h2 class="text-center">Ye haven't applied to anything yet!</h2>
}
else
{
    <table class="table table-hover text-center" id="apps">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CaptainNotes)
                </th>
                <th>
                    Status
                </th>
                <th>
                    Assignment
                </th>
                <th>
                    Ship
                </th>
                @if (!User.IsInRole("Crewmate"))
                {
                    <th>Applicant</th>
                    <th>Resume</th>
                }
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaptainNotes)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ResumeFilename)
                    </td>*@
                <td>
                    <span class="statusDescr" title="@item.ApplicationStatu.StatusDescription">
                        @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenAssignment.Assignment.AssignmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenAssignment.Ship.ShipName)
                </td>
                @if (!User.IsInRole("Crewmate"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.PirateDetail.FullName)
                    </td>
                    <td>
                        <a href="~/Content/Resumes/@item.ResumeFilename" target="_blank">View</a>
                    </td>
                }
                <td>
                    @if (!User.IsInRole("Crewmate"))
                    {
                        <a href="@Url.Action("Edit", "Applications", new { id = item.ApplicationID })"><i class="fa fa-edit mx-2"></i></a>
                    }
                    <a href="@Url.Action("Details", "Applications", new { id = item.ApplicationID })"><i class="fa fa-info mx-2"></i></a>
                </td>
            </tr>
        }

    </table>
}
@section scripts{
    <script>
        $(function () {
            $(".statusDescr").tooltip();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#apps').DataTable({
                responsive: true
            });
        });
    </script>

}