@model PirateJobBoard.DATA.EF.PirateDetail

@{
    ViewBag.Title = "Edit Yer Details";
}

<h2 class="text-center">@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "PirateDetails", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PirateID)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ResumeFilename, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ResumeFilename)
                <input type="file" name="resume" />
                @Html.ValidationMessageFor(x => x.ResumeFilename, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HasScurvy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HasScurvy)
                    @Html.ValidationMessageFor(model => model.HasScurvy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Yer Changes" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

    <div class="my-3">
        <a href="@Url.Action("Index", "PirateDetails")" class="text-decoration-none"><i class="fa fa-arrow-left mx-2"></i> Go Back</a>

    </div>
