@model PirateJobBoard.DATA.EF.Ship

@{
    ViewBag.Title = "Details";
}

<h2 class="my-4 text-center"><em>@Model.ShipName</em> @ViewBag.Title <a href="@Url.Action("Edit", "Ships", new { id = Model.ShipID })"><i class="fa fa-edit mx-2"></i></a></h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePort)
        </dd>

        <dt>
            Captain
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PirateDetail.FullName)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "Ships")" class="text-decoration-none"><i class="fa fa-arrow-left mx-2"></i> Go Back</a>
</p>
