@model IEnumerable<PirateJobBoard.DATA.EF.Ship>

@{
    ViewBag.Title = "Ships";
}

<h2 class="my-4 text-center">@ViewBag.Title<span><a href="@Url.Action("Create", "Ships")"><i class="fa fa-plus mx-2"></i></a></span></h2>

<table class="table table-hover text-center" id="ships">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePort)
            </th>
            <th>
                Captain
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PirateDetail.FullName)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Ships", new { id = item.ShipID })"><i class="fa fa-edit mx-2"></i></a>
                <a href="@Url.Action("Details", "Ships", new { id = item.ShipID })"><i class="fa fa-info mx-2"></i></a>
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#ships').DataTable({
                responsive: true
            });
        });
    </script>
}