@model PirateJobBoard.DATA.EF.OpenAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OpenAssignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assignment.AssignmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment.AssignmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ship.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship.ShipName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Apply!", "OneClickApply", new { id = Model.OpenAssignmentID }, htmlAttributes: new { @class = "btn btn-success"}) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpenAssignmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
