@model IEnumerable<PirateJobBoard.DATA.EF.OpenAssignment>
@using Microsoft.AspNet.Identity;
@using PirateJobBoard.DATA.EF;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-hover text-center" id="openAssignments">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.AssignmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ship.ShipName)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment.AssignmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ship.ShipName)
            </td>
            <td>
                @{
                    PirateJobBoardEntities db = new PirateJobBoardEntities();
                    string pirateId = User.Identity.GetUserId();
                    PirateDetail pirate = db.PirateDetails.Find(pirateId);
                    string resume = db.PirateDetails.Find(pirateId).ResumeFilename;
                    Application existingApplication = db.Applications.Where(x => x.PirateID == pirateId && x.OpenAssignmentID == item.OpenAssignmentID).FirstOrDefault();

                }
                @if (pirate.ResumeFilename == "" && User.IsInRole("Crewmate"))
                {
                    <span>Ye need to upload a resume before you can apply!</span>
                }
                else if (existingApplication != null)
                {
                    <span class="alert-warning">
                        Ye have already applied to this position, matey. <br />
                    </span>
                    <a href="@Url.Action("Details", "Applications", new { id = existingApplication.ApplicationID })">View Application</a>
                }
                else if (pirate.ResumeFilename != "" && User.IsInRole("Crewmate"))
                {
                    @Html.ActionLink("Apply!", "OneClickApply", new { id = item.OpenAssignmentID }, htmlAttributes: new { @class = "btn btn-success" })
                }
                <br />
                @Html.ActionLink("Assignment Details", "Details", new { id = item.OpenAssignmentID })

                @if (!User.IsInRole("Crewmate"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.OpenAssignmentID })

                    @Html.ActionLink("Delete", "Delete", new { id = item.OpenAssignmentID })
                }

            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#openAssignments').DataTable();
        });
    </script>
}