@model IEnumerable<PirateJobBoard.DATA.EF.OpenAssignment>
@using Microsoft.AspNet.Identity;
@using PirateJobBoard.DATA.EF;

@{
    ViewBag.Title = "Open Assignments";
}

<h2 class="text-center">@ViewBag.Title<span>
    @if (!User.IsInRole("Crewmate"))
    {

        <a href="@Url.Action("Create", "OpenAssignments")"><i class="fa fa-plus mx-2"></i></a>

    }
</span></h2>



<table class="table table-hover text-center" id="openAssignments">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.AssignmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ship.ShipName)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment.AssignmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ship.ShipName)
            </td>
            <td>
                @{
                    PirateJobBoardEntities db = new PirateJobBoardEntities();
                    string pirateId = User.Identity.GetUserId();
                    PirateDetail pirate = db.PirateDetails.Find(pirateId);
                    string resume = db.PirateDetails.Find(pirateId).ResumeFilename;
                    Application existingApplication = db.Applications.Where(x => x.PirateID == pirateId && x.OpenAssignmentID == item.OpenAssignmentID).FirstOrDefault();

                }
                @if (pirate.ResumeFilename == "" && User.IsInRole("Crewmate"))
                {
                    <span>Ye need to upload a resume before you can apply!</span>
                }

                else if (existingApplication != null && User.IsInRole("Crewmate"))
                {
                    <span class="alert-warning">
                        Ye have already applied to this position, matey. <br />
                    </span>
                    <a href="@Url.Action("Details", "Applications", new { id = existingApplication.ApplicationID })">View Application</a>
                }
                else if (pirate.ResumeFilename != "" && User.IsInRole("Crewmate"))
                {
                    @Html.ActionLink("Apply!", "OneClickApply", new { id = item.OpenAssignmentID }, htmlAttributes: new { @class = "btn btn-success" })
                }
                <br />
                @*@Html.ActionLink("Assignment Details", "Details", new { id = item.OpenAssignmentID })*@
                <a href="@Url.Action("Details", "OpenAssignments", new { id = item.OpenAssignmentID })"><i class="fa fa-info mx-2"></i></a>


                @if (!User.IsInRole("Crewmate"))
                {
                    <a href="@Url.Action("Edit", "OpenAssignments", new { id = item.OpenAssignmentID })"><i class="fa fa-edit mx-2"></i></a>

                    @*@Html.ActionLink("Delete", "Delete", new { id = item.OpenAssignmentID })*@
                    <a href="@Url.Action("Delete", "OpenAssignments", new { id = item.OpenAssignmentID })"><i class="fa fa-trash mx-2"></i></a>

                }

            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#openAssignments').DataTable({
                responsive: true
            });
        });
    </script>
}